<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>avatar selector</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <% if(NODE_ENV === "production") { %>
  <script src="https://cdn.rawgit.com/aframevr/aframe/16b0111/dist/aframe-master.min.js" integrity="sha384-AjuLxCAOUaOPMD3cYulNXK61d/dPqiMSTC2+VeQBGef5fBrz8k+GmpQrpETorZw+" crossorigin="anonymous"></script>
  <% } else { %>
  <script src="https://cdn.rawgit.com/aframevr/aframe/16b0111/dist/aframe-master.js" integrity="sha384-cNQ+Ct+BG/jOk9hj2OStxCOP1af+b0F7zMpn8CxAARJywLqsDitEc+HuFoT8fES4" crossorigin="anonymous"></script>
  <% } %>
</head>

<body>
  <div id="selector-root"></div>
</body>

</html>
